.fungible_tokens_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0px 20px;
    line-height: 1.5;
    color: white;

    .tokens_header_container {
        padding: 20px 0 10px 0px;
        border: 1px solid wheat;
        border-radius: 10px;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px 0;

        .tokens_header {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 36px;
            font-weight: bold;
            color: white;
            font-family: "Cinzel Decorative";
        }

        .tokens_sub_header {
            color: wheat;
            text-align: center;
            font-family: "Cinzel Decorative";
        }
    }

    .logo_img {
        height: 40px;
        width: 40px;
    }

    .search_filter {

        .search_input {
            width: 100%;
            font-size: 16px;

            input {
                border-radius: 0;
                border: none !important;
                border-bottom: 1px solid gray !important;
                transition: border 0.8s ease-in-out;

                &:focus {
                    // border-radius: 10px;
                    border-bottom: 1px solid wheat !important;
                }
            }

            i.yellow.icon {
                color: wheat !important;
            }
        }
    }

    .fungible_tokens_table_container {
        display: flex;
        flex-direction: column;
        min-height: 300px;
        margin-top: 20px;

        .pagination {
            padding: 6px 0 10px 0;
        }
    }

}