.signup_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 30px;
  line-height: 1;
  color: white;

  button {
    border-radius: 0px;
    padding: 20px;
  }

  .signup_content_container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .explaination_text {
    padding: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 20px;
  }

  .error {
    color: red;
    font-size: 14px;
    padding: 10px 0px;
    text-align: left;
  }

  .alert_dialog {
    display: flex;
    flex-direction: column;

    .button_container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  }

  .heading_container {
    padding: 20px 10px 10px 10px;
    text-align: center;

    .heading {
      font-size: 45px;
      font-weight: bold;
    }

    .subHeading {
      padding: 10px 0;
      line-height: 1.5;
    }
  }

  .seed_container,
  .numbers_container,
  .new_wallet_container {
    padding: 30px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;

    input,
    input:focus-visible {
      outline: 1px solid black;
      border: none;
      box-shadow: none;
      border-radius: 0px;
      padding: 20px;

      &.error_input {
        outline: 1px solid red;
      }
    }
  }

  .seed_container,
  .numbers_container {
    gap: 10px;

    input,
    input:focus-visible {
      padding: 12px;
    }
  }

  .new_wallet_container {
    overflow: auto;
    gap: 15px;

    input,
    input:focus-visible {
      padding: 10px;
    }

    .new_wallet_details_container {
      padding: 10px 0;
    }

    .simple_animation_component .anim_button .container {
      border-radius: 40px !important;
      -webkit-border-radius: 40px !important;
      -moz-border-radius: 40px !important;
      -ms-border-radius: 40px !important;
      -o-border-radius: 40px !important;
    }

    .new_wallet_instruction_container {
      padding: 10px;
      line-height: 1.5;
      border: none;
      transition: all 0.3s ease-in-out;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: var(--sgray);

      &:hover {
        box-shadow: rgba(0, 0, 0, .03) 2px 18px 4px 5px, rgba(236, 236, 236, 0.04) 0 5px 10px 2px;
      }

      .instructions {
        padding: 10px;
      }
    }
  }

  .submit_btn_container {
    margin-top: auto;

    button {
      width: 100%;
      font-size: 16px;
    }
  }

  .input_container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .input_ {
      display: grid;
      gap: 10px;
    }

    .input_field {
      display: flex;
      flex-direction: column;
      text-align: left;

      .labelTxt {
        font-size: 14px;
        padding: 10px 0px;
        // color: var(--davys-grey);
        font-weight: 500;
      }

      input {
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 10px;
      }
    }
  }

  .selection_btns_container {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
      font-size: 16px;
    }
  }
}