.sign_up_container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    height: 100%;
    padding: 30px;
    line-height: 1;
    background: var(--pinkish-body-tint);
    overflow: scroll;

    .heading_container {
        .heading {
            font-size: 30px;
            padding: 10px 0 0 0;
            font-weight: bold;
            color: var(--space-cadet);
        }

        .subHeading {
            padding: 10px 0;
            line-height: 1.5;
        }
    }
    .input_container {
        display: flex;
        flex-direction: column;
        gap: 14px;

        .input_field {
            display: flex;
            flex-direction: column;
            text-align: left;

            .labelTxt {
                font-size: 15px;
                padding: 12px 0px 0px 0px;
                color: var(--davys-grey);
                font-weight: 500;
            }

            input {
                border-top: none;
                border-left: none;
                border-right: none;
                border-radius: 0px;
                background-color: inherit;
                font-size: 13px;
            }

            .note{
                padding: 0 10px;
                font-size: 11px;
                color: rebeccapurple;
            }

            .error_txt {
                font-size: 12px;
                font-style: normal;
                color: var(--ruby-red);
                padding-top: 4px;
            }
               
        }
    }

    .submit_btn {
        display: grid;
        padding: 20px;
        button {
            font-size: 16px;
        }
    }
}