.airdrop_registration_component {
    .heading_component {
        display: flex;
        flex-direction: column;
        align-items: center;

        .heading {
            font-size: 40px;
            display: flex;
            cursor: pointer;
            text-align: center;
            justify-content: center;
            align-items: center;
            font-weight: 500;

            .logo_img {
                height: 40px;
                width: 40px;
            }
        }

        .sub_heading {
            font-weight: lighter;
            padding: 6px;
        }
    }

    .restricted_note_container {
        background: var(--imperial-red);
        font-size: 14px;
        padding: 10px;
        color: white;
        font-weight: bold;
    }

    .registration_form {
        .heading {
            font-size: 16px;
            padding-bottom: 10px;
        }

        .inputs {
            display: flex;
            flex-direction: column;
            gap: 18px;
            padding: 10px 20px;

            .input_field {
                .label {
                    font-size: 13px;
                    padding: 0 0 4px 0;
                }
            }

            .selection,
            input,
            textarea {
                border-radius: 0px;
                outline: 0;
                border: 1px solid var(--gainsboro);
            }

            textarea {
                padding: 10px;
                font-weight: lighter;
            }

            .social_inputs {
                display: flex;
                flex-direction: column;
                gap: 6px;

                .ui.labeled.input:not([class*="corner labeled"]) {
                    .label {
                        padding: 12px;
                        border-radius: 0px;
                        text-align: center;
                        background-color: var(--gainsboro);
                    }
                }
            }
        }

        .submission_note {
            font-size: 12px;
            padding: 10px 20px;

            span {
                color: var(--carnelian);
                font-weight: bold;
            }
        }

        .btn_container {
            padding: 20px 20px 0px 20px;

            button {
                width: 100%;
            }
        }

        .react-datetime-picker {
            width: 100%;
        }

        .react-datetime-picker__calendar {
            width: 300px;
            inset: 100% 0% !important;
        }

        .react-datetime-picker__inputGroup {
            input {
                border: none;
            }
        }

        .react-datetime-picker__wrapper {
            border: 1px solid var(--gainsboro);
            padding: 5px;
        }

        .react-calendar {
            border-radius: 10px;
            box-shadow: var(--generic-box-shadow);
        }

        .error_textarea {
            background-color: #fff6f6;
            border-color: #e0b4b4;
            color: #9f3a38;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
}