.fungible_token_details_container {
    padding: 0px 20px;

    .token_details_container {
        color: white;

        .token_header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: wheat;
            font-weight: 700;
            font-size: 20px;
            margin: 20px 0 0 0;

            .icon {
                width: 100px;
                height: 100px;

                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 10px;
                }
            }

            .token_name {
                font-weight: bold;
                padding: 10px 0px 0px 0px;
            }
        }

        .token_description {
            border: 1px solid var(--platinum);
            padding: 10px;
            text-align: center;
        }

        .token_details_headers {
            font-weight: 700;
            font-size: 14px;
            border: 1px solid black;
            background: var(--sgray);
            margin: 0px 0px 5px 0px;
            padding: 10px;
            text-align: center;
        }

        .details {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            padding: 10px 0px;

            .card {
                border: 1px solid var(--platinum);
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                padding: 10px;
                gap: 5px;

                .heading {
                    font-weight: 700;
                    color: wheat;
                    text-transform: capitalize;
                }
            }
        }

        .issuer_details {
            padding: 10px 0px;
        }
    }
}