.escrows_container,
.track_escrow_container {
    padding: 0 20px;
    display: flex;
    flex-direction: column;

    .escrows_header_container {
        padding: 20px 0 10px 0px;
        border: 1px solid wheat;
        border-radius: 10px;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        margin: 20px 0;

        .escrows_header,
        .track_escrow_header {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 36px;
            font-weight: bold;
            color: white;
            font-family: 'Cinzel Decorative';
        }

        .escrows_sub_header,
        .track_escrow_sub_header {
            color: wheat;
            text-align: center;
            font-family: 'Cinzel Decorative';
        }

        .track_escrow_header {
            margin: 70px 0 15px 0;
        }
    }

    .track_escrow_body {
        display: flex;
        padding: 20px 0;
        flex-direction: column;

        input {
            font-size: 16px;
            border-radius: 0;
        }

        .track_escrow_button_container {
            width: 100%;
        }
    }

    .pagination {

        text-align: center;
        margin: auto 0 10px 0;
    }

    .search {
        .search_input {
            width: 100%;
            font-size: 16px;

            input {
                border-radius: 0;
                border: none !important;
                border-bottom: 1px solid gray !important;
                transition: border 0.8s ease-in-out;

                &:focus {
                    // border-radius: 10px;
                    border-bottom: 1px solid wheat !important;
                }
            }

            i.yellow.icon {
                color: wheat !important;
            }
        }
    }

    .card {
        margin-bottom: 20px;
        border-radius: 10px;
        background-color: var(--sgray);
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-5px);
            box-shadow: rgba(66, 66, 66, 0.34) 0 20px 20px 0px, rgba(0, 0, 0, 0.02) 0 20px 20px 0px;
        }
    }
}

.escrow_cards {
    padding: 25px 0;
    display: flex;
    flex-direction: column;

    .escrow_item {
        position: relative;
        cursor: pointer;
        overflow: hidden;
        border-radius: 10px;
        max-height: 90px;
        border: 1px solid #f5deb345;
        background-color: transparent;
        box-shadow: 5px 5px 0px 0px rgba(129, 129, 129, 0.3);
        transition: transform 0.3s ease, box-shadow 0.3s ease;


        &:hover {
            transform: translateY(-5px);
            box-shadow: 10px 10px 0px 0px rgb(129 129 129 / 30%);
        }

        .flower_bg_img {
            opacity: 0.2;
            transform: scale(2) rotateZ(80deg);
            z-index: -1;
            height: auto;
            width: auto;
        }




        .description {
            font-size: 14px;
            line-height: 1.5;

            strong {
                color: wheat;
            }

            .amount {
                margin: 0;
                font-size: 30px;
                font-weight: 500;
                letter-spacing: 1px;
                color: white;
            }
        }

        .sub_description {
            display: flex;
            justify-content: space-between;
            font-size: 15px;

            .name {
                color: wheat;
                font-weight: 400;
            }

            .days {
                color: var(--gainsboro);
                font-weight: bold;
            }

        }

        .extra {
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid #bdc3c7;
            border-radius: 0 0 10px 10px;

            button {
                cursor: pointer;
                background-color: var(--sgolden);
                color: white;
                border: none;
                border-radius: 5px;
                padding: 8px 12px;

                &:hover {
                    background-color: var(--sgolden);
                }
            }
        }


    }

    .escrow_expanded {
        padding: 10px;

        strong {
            font-size: 15px;
            display: block;
            text-align: left;
            font-weight: 600;
            margin-bottom: 5px;
            color: burlywood;
        }

        p {
            font-size: 14px;
            cursor: pointer;
            color: wheat;
            font-weight: 300;
            line-break: anywhere;
            display: block;
            text-align: left;
        }
    }
}