.escrows_container,
.track_escrow_container {
    padding: 0 20px;

    .escrows_header,
    .track_escrow_header {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
        font-weight: bold;
        margin: 20px 0;
        color: white;
        font-family: 'Cinzel Decorative';
    }

    .escrows_sub_header,
    .track_escrow_sub_header {
        color: wheat;
        text-align: center;
        font-family: 'Cinzel Decorative';
    }

    .track_escrow_header {
        margin: 70px 0 15px 0;
    }

    .track_escrow_body {
        display: flex;
        padding: 20px 0;
        flex-direction: column;

        input {
            font-size: 16px;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
        }

        .track_escrow_button_container {
            width: 100%;
        }
    }

    .pagination {
        text-align: center;
        margin: 0 0 10px 0;
    }

    .search {
        .input {
            width: 100%;
        }
    }

    .card {
        margin-bottom: 20px;
        border-radius: 10px;
        background-color: var(--sgray);
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        -webkit-transition: transform 0.3s ease, box-shadow 0.3s ease;
        -moz-transition: transform 0.3s ease, box-shadow 0.3s ease;
        -ms-transition: transform 0.3s ease, box-shadow 0.3s ease;
        -o-transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-5px);
            box-shadow: rgba(66, 66, 66, 0.34) 0 20px 20px 0px, rgba(0, 0, 0, 0.02) 0 20px 20px 0px;
        }

        .content {
            padding: 30px 20px;

            button:hover {
                background-color: #2980b9;
            }
        }
    }
}

.escrow_cards {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .escrow_item {
        background-color: var(--sgray);
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;


        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
            // Add hover styles if needed
        }

        .content {
            .header {
                font-size: 18px;
                font-family: inherit !important;
                font-weight: bold;
                margin-bottom: 10px;
                padding: 15px;
                border-radius: 10px 10px 0 0;
                color: var(--gainsboro) !important;
                border: 1px solid #a8a8a8;
            }
        }

        .description {
            padding: 15px;
            font-size: 14px;
            line-height: 1.5;

            strong {
                color: wheat;
            }

            p {
                margin: 0;
                color: white;
            }
        }

        .extra {
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid #bdc3c7;
            border-radius: 0 0 10px 10px;

            button {
                cursor: pointer;
                background-color: var(--sgolden);
                color: white;
                border: none;
                border-radius: 5px;
                padding: 8px 12px;

                &:hover {
                    background-color: var(--sgolden);
                }
            }
        }
    }
}