.add_escrow_container {
    text-align: center;
    color: white;
    border-radius: 15px;
    padding: 0 20px;
    margin: auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    min-height: 430px;

    .heading_container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 10px;

        img {
            width: 45px;
            height: 45px;
        }

        .heading {
            font-size: 38px;
            font-weight: bold;
            color: white;
            font-family: 'Cinzel Decorative';
        }

    }

    .sub_heading {
        font-size: 16px;
        color: wheat;
        margin-bottom: 20px;
    }

    .ui.checkbox input.hidden+label {
        color: wheat !important;
    }


    .inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 20px 0px;

        input {
            border: 1px solid var(--sgray);
            font-size: 14px;
            border-radius: 0;
            padding: 12px;
        }

        .checkbox {
            display: flex;
            align-items: center;
            justify-content: start;
            margin-top: 10px;

            label {
                margin-left: 5px;
                font-size: 14px;
                color: #34495e;
            }
        }

        .text_red {
            color: #e74c3c;
            font-size: 12px;
            text-align: left;
            margin-top: 5px;
        }

        .date_picker {
            text-align: center;

            input {
                padding: 0 8px;
                border: none;
                outline: none;
                color: white
            }

            .react-date-picker {
                width: 100%;
                border: 1px solid var(--sgray) !important;

                .react-date-picker__wrapper {
                    border: none;
                    padding: 2px 0;
                    width: 100%;
                    position: relative;
                }
            }

            .react-date-picker__inputGroup__divider {
                padding: 20px 10px;
            }

            .react-datepicker__input-container {
                width: 100%;
                display: flex;
                justify-content: center;

                input {
                    width: 100%;
                    padding: 12px;
                    font-size: 14px;
                    border: 1px solid var(--sgray) !important;
                    border-radius: 0;
                }
            }

            .react-datepicker {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                font-size: 14px;
                margin-top: 10px;
                color: var(--sgray) !important;

                &__triangle {
                    display: none; // Hide the triangle icon
                }

                &__header {
                    text-align: center;
                    background-color: #3498db;
                    border: none;
                }

                &__current-month {
                    margin-top: 5px;
                }

                &__day-names {
                    display: flex;
                    justify-content: space-around;
                    margin-top: 5px;
                }

                &__day {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 2px;
                    cursor: pointer;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: var(--sgray);
                        background-color: #2980b9;
                    }

                    &--selected {
                        background-color: #3498db;
                    }

                    &--today {
                        font-weight: bold;
                    }

                    &--disabled {
                        color: #bdc3c7;
                        cursor: not-allowed;
                    }
                }

                input {
                    color: var(--sgray) !important;
                }
            }
        }
    }

    .submit_btn_container {
        margin-top: auto;
    }

    .react-date-picker__button svg {
        display: inherit;
        stroke: var(--sgray);
    }

    .react-date-picker__button:enabled:hover .react-date-picker__button__icon,
    .react-date-picker__button:enabled:focus .react-date-picker__button__icon {
        stroke: wheat;
    }

    .account_creation_message {
        background: var(--sgray);
        color: lightblue;
    }
}