.portfolio_container{
    padding: 0 15px;
    
    .details_container {
        padding: 0;
        word-break: break-word;
        font-size: 12px;

        .table_heading{
            font-weight: bold;
        }

        .details_header{
            font-weight: bold;
            cursor: pointer;
            font-size: 14px;
        }

        .sub_details_header{
            font-size: 12px;
        }

        .token_heading{
            font-weight: bold;
            font-style: italic;
        }

        .small{
            font-size: 10px;
        }

        table{
            padding: 5px;
        }


        .transition{
            margin-top: 10px;

            &.load{
                opacity: 1;
                transition: opacity 1s ease;
                -webkit-transition: opacity 1s ease;
                margin: 10px 0 15px 0;
            }
            &.hide{
                opacity: 0;
                overflow: hidden;
                height: 0;
                transition: opacity 1s ease;
                -webkit-transition: opacity 1s ease;
            }
        }
        
    } 
}