.portfolio_container{
    padding: 0 15px;

    .icon{
        text-align: center;
        padding: 2px 2px 10px 2px;
    }
    .heading{
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }

    .sub_heading{
        font-size: 12px;
        font-style: italic;
        padding: 10px 0;
        text-align: center;
    }
    
    .details_container {
        display: flex;
        flex-direction: column;
        border-top: 1px solid black;
        padding: 20px 0 10px 0;
        word-break: break-word;
        font-size: 12px;
        gap: 6px;

        .table_heading{
            font-weight: bold;
        }

        .details_header{
            font-weight: bold;
            cursor: pointer;
            font-size: 15px;
        }

        .sub_details_header{
            font-size: 12px;
        }

        .token_heading{
            font-weight: bold;
            font-style: italic;
        }

        .small{
            font-size: 10px;
        }

        table{
            padding: 5px;
            box-shadow: 6px 6px 0px rgba(225, 224, 218, 0.67);
        }


        .transition{
            margin-top: 10px;

            &.load{
                opacity: 1;
                transition: opacity 1s ease;
                -webkit-transition: opacity 1s ease;
                margin: 10px 0 15px 0;
            }
            &.hide{
                opacity: 0;
                overflow: hidden;
                height: 0;
                transition: opacity 1s ease;
                -webkit-transition: opacity 1s ease;
            }
        }
        
    } 
}