.back_btn {
    text-align: left;
    font-family: 'Cinzel Decorative' !important;

    .btn {
        display: flex;
        cursor: pointer;
        background: transparent;
        border: none;
        transition: 200ms ease-in-out;
        color: wheat;
        font-size: 18px;
        font-family: 'Cinzel Decorative' !important;

        .arrow {
            color: wheat;
            font-size: 18px;
        }

        .display_name {
            padding: 0 5px;
        }

        &:before {
            transition: opacity 0.3s;
        }

        &:hover {
            color: wheat;
            opacity: 0.5;
            transform: translateX(-3px);
        }

        &:focus {
            outline: none;
        }
    }
}