.transactions_container{
    padding: 0 20px;
    
    .transactions_header{
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        align-items: center;

        .heading {
            font-size: 38px;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            font-weight: 500;

            .logo_img {
                height: 40px;
                width: 40px;
            }
        }

        .sub_heading {
            font-weight: lighter;
            padding: 6px;
        }
    }

    .load_more_btn {
        padding: 20px 0;

        .btn {
            width: 100%;
            background-color: white;
            border: 1px solid var(--baby-blue-eyes);
            border-radius: 10px;
            box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.1) ;
            -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.1) ;
        }
    }
}