.navbar_container{
    .slider{
        text-align: end;
        font-size: 16px;
        padding: 10px;

        .icon{
            cursor: pointer;
            font-size: 20px;
        }
    }

    .content{
        padding: 10px;
    }

    .content_pusher{
        max-height: 400px;
        overflow: hidden;
    }

    .ui.visible.push.sidebar{
        background-color: #2d3436;
        background-image: linear-gradient(270.8deg, #1a1b1c 15%, #000 74%);
        .item{
            transition: background 0.5s ease-in-out;  
        }
    }
}