.navbar_container {
    position: relative;

    .slider {
        text-align: end;
        font-size: 16px;
        padding: 6px;
        position: fixed;
        top: 525px;
        left: 290px;
        background: var(--sgray);
        opacity: 0.2;
        z-index: 100000;
        border-radius: 10px;
        border: 1px solid wheat;
        cursor: pointer;
        transition: all 0.6s ease;

        &:hover {
            opacity: 1;
        }

        .icon {
            font-size: 20px;
            width: 29px;
        }
    }

    .nav_content {
        padding: 10px;
        height: 600px;
        overflow-y: scroll;
    }

    .content_pusher {
        max-height: 400px;
        overflow: hidden;
    }

    .ui.visible.push.sidebar {
        background-color: var(--sgray);
    }

    .ui.inverted.icon.menu .item {
        transition: background 0.6s ease-in-out;
        color: wheat;
        font-family: "Cinzel Decorative" !important;

        &:hover {
            background: wheat;
            color: var(--sgray);
        }
    }

    .ui.vertical.inverted.menu .item:before {
        background: none;
    }
}