.navbar_container{
    .slider{
        text-align: end;
        font-size: 16px;
        padding: 10px;

        .icon{
            cursor: pointer;
        }
    }

    .content{
        padding: 10px;
    }

    .content_pusher{
        max-height: 400px;
        overflow: hidden;
    }
}