.under_construction {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    .header {
        position: relative;
        color: cornflowerblue;
        text-align: center;
    }
    .img {
        position: absolute;
        height: 100%;
        width: 100%;
    }
}
