.no_result_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        font-size: 20px;
        color: var(--davys-grey);
    }
}
   