.landing_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    padding: 30px;
    line-height: 1;
    color: white;

    .heading {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        padding: 10px 0px;
        font-size: 60px;
        line-height: 2;

        .logo_img {
            height: 100px;
            width: 100px;
        }
    }

    .subHeading {
        font-size: 16px;
        font-weight: bold;
        line-height: 2;
    }

    .short_phrase {
        font-weight: lighter;
    }

    .btns_container {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        gap: 10px;
        padding: 30px 0px;

        input,
        input:focus-visible {
            border-radius: 0;
            padding: 12px;
            font-size: 16px;
            margin-bottom: 5px;
            box-shadow: none;
            border: 1px solid black;
        }

        button {
            font-size: 16px;
        }
    }

    .luminance {
        background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        animation: reveal 3000ms ease-in-out forwards 200ms,
            glow 2500ms linear infinite 2000ms;
    }

    @keyframes reveal {
        80% {
            letter-spacing: 8px;
        }

        100% {
            background-size: 300% 300%;
        }
    }

    @keyframes glow {
        40% {
            text-shadow: 0 0 8px #fff;
        }
    }

}