.add_account {
    display: block;
    padding: 20px;
    border-radius: 14px;
    line-height: 1;
    background: var(--pinkish-body-tint);
    box-shadow: var(--generic-box-shadow);
    // box-shadow: var(--generic-box-shadow);

    .heading {
        font-size: 30px;
        font-weight: bold;
        color: var(--indigo-dye);
    }

    .subHeading {
        padding: 16px 0;
        line-height: 1.5;
    }

    .error_txt{
        color: var(--carnelian);
        font-style: normal;
        font-size: 12px;
    }
    .enter_btn{
        display: flex;
        justify-content: center;
        button{
            padding: 10px 40px;
        }
    }

    button:disabled,
    button[disabled] {
        background-color: var(--gainsboro);
    }

    .track_details_container {
        padding: 40px 0;

        .track_details_label {
            text-align: left;
        }

        .xrpl_details_box_heading {
            font-size: 14px;
            text-align: left;
        }

        .input_details {
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 20px 5px;

            .label {
                background-color:var(--baby-blue-eyes);
            }
            .disabled {
                background-color: gray;
                box-shadow: none !important;
                -webkit-box-shadow: none !important;
                color: white;
            }
            button{
                border-radius: 0px;
            }
        }
    }

    .account_add_success{
        padding: 20px 0px;
        .description{
            padding: 10px 0px;
            .text{
                font-size: 16px;
                line-height: 1.5;
            }
        }

        .buttons_container{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: auto auto;
            padding: 40px 0 0 0;
            gap: 15px 10px;

            button:hover{
                box-shadow: 4px 3px 0px rgba(225, 224, 218, 0.67);
            }

            button:nth-child(3){
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 2;
            }
        }
    }

}
