.home_component {
  text-align: center;
  font-family: "Arial", sans-serif;
  color: #333;

  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    margin: 20px 0;
    color: #2c3e50;

    .logo_img {
      height: 60px;
      width: 60px;
      margin-right: 10px;
    }
  }


  .timer_card {
    background-color: #2c3e50;
    color: #ecf0f1;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    }

    .timer_heading {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .timer_value {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }


  .user_details_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;

    .card {
      background-color: white;
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      padding: 10px;
      text-align: center;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
      }

      &.suit_coin,
      &.xrp {
        display: flex;
        gap: 20px;
        justify-content: center;

        .card_heading {
          font-size: 16px;
        }

        .right_section {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }

      .suit_img {
        height: 60px;
        width: 60px;
      }

      .card_heading {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
        color: #34495e;
      }

      .card_value {
        font-size: 16px;
        color: #16a085;
      }
    }
  }
}