.home_component{
    text-align: center;

    .heading {
        font-size: 30px;
        font-weight: bold;
        color: var(--indigo-dye);
    }

    .account_btn{
        width: 100%;
        cursor: pointer;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        border-radius: 10px;
        // background: var(--baby-blue-eyes);
        transition: background-color 1.5s ease-out 100ms, box-shadow 0.2s ease-in-out ;
        padding: 6px;
        background: white;
        box-shadow: 3px 2px 5px 1px rgba(225, 224, 218, 0.67);
        border: 1px solid black;

        .acc_name{
            white-space: break-spaces;
            text-align: center;
        }

        .icon-close{
            font-size: 1.2rem;
            color: var(--black);
        }

        &:hover{
            background-color: #FFC6FF;
            box-shadow: 8px 8px 0px rgba(225, 224, 218, 0.67);
        }
    }

    .saved_accounts_container{
        text-align: left;
        border: 1px solid gray;
        border-radius: 6px;
        height: 220px;
        overflow: scroll;
        
        .accounts_grid {
            display: grid;
            gap: 16px;
            padding: 20px 30px;
        }

        .heading_details {
            padding: 5px 30px;
            border-bottom: 1px solid gray;
            border-radius: 2px;

            .table_header{
                color: var(--oxford-blue);
            }
        }
           
    }

    .no_added_accounts{
        display: block;
        padding: 20px;
        border-radius: 14px;
        line-height: 1;
        
        .heading {
            font-size: 30px;
            font-weight: bold;
            color: var(--indigo-dye);
        }
    
        .subHeading {
            padding: 20px 0;
            line-height: 1.5;
        }
    
        .enter_btn{
            display: flex;
            justify-content: center;
            button{
                padding: 10px 40px;
            }
        }
    }
}